.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin-bottom: 20px;
}

.contactFormLabel {
    text-align: left;
    width: 100%;
}

.contactFormInput {
    margin-bottom: 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 4px;
    width: 100%;
}

.errorMessage {
    color: red;
    text-align: left;
    width: 100%;
}

.submitBtn {
    color: white;
    background-color: green;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    max-width: 150px;
}

.submitBtn:hover {
    background-color: darkgreen;
}