.container {
  position: relative;
  top: 50px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 1024px;
}

.header {
  margin: 20px;
}

.headerIcon {
  vertical-align: text-bottom;
  margin-right: 8px;
  fill: rgb(255, 198, 28);
}

.error {
  color: red;
}
